 body {
    margin: 20px;
 }

 main {
    margin-left: 20px;
    margin-right: 20px;
 }

 h1 {
    text-align: left;
 }

 nav {
   display: flex;
   align-items: start;
   justify-content: center;
 }

 .navbar ul {
    list-style-type: none;
    background-color: rgb(17, 181, 251);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    
 }

 .navbar a {
    color: rgba(0, 68, 255, 0.919);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
 }

 .navbar a:hover {
    background-color: rgba(205, 205, 205, 0.906);
 }

 .navbar li {
    float: left;
 }

 body {
    font-family: "Sofia", sans-serif;
    background-image: url("mental.jpeg")
    
 }


 .text-align {
    text-align: center;
 }

 h3 {
    text-align: right;
 }

 .about_me {
    display: flex;
 }

 .about_me:nth-child(even) {
    flex-direction: row-reverse;
 }

 .about_me img {
    border-radius: 24px;
 }

 .about_me h3 {
    text-align: center;
 }

 #Color {
    background-color: rgb(11, 186, 255);
    color: #fded0b;
 }

 @media screen and (max-width: 600px) {
    .about_me, .about_me:nth-child(even) {
       flex-direction: column;
    }
 }
 div{color: rgba(255, 255, 255, 0.933);
font-weight: bolder;
font-style: oblique;}

form{color: rgb(20, 172, 248);}

p{color:rgba(255, 255, 255, 0.933);
font-weight:bolder;
font-style: oblique;}

h1{color:rgb(20, 172, 248);
margin: 30pt;
text-transform: uppercase;
text-align: center;}

