 body{
    margin: 0px;
 }
 main{
    margin-left: 20px;
    margin-right: 20px;
 }
 h1{
    text-align: center;
 }
 .navbar ul{
    list-style-type:none;
    background-color: rgba(0, 110, 255, 0.812) ;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
 }
 .navbar a{
    color:rgba(229, 255, 0, 0.919);
    text-decoration: none;
    padding: 15px;
    display:block ;
    text-align:center ;
 }
 .navbar a:hover{
    background-color: rgba(0, 110, 255, 0.812) ;
 }
 .navbar li{
    float: left;
 }